.header{
    width:80%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family:"Bigelow Rules" ;
    font-size:72px ;
    color:#0ccAc4;
}